{% extends 'base.html' %}

{% block title %}
Нужно больше статей
{% endblock %}

{% block body %}
<div class="container">
    <h1>Добавление статьи</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Название, э."><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Анонс введи, э."></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Основной текст ввёл быстро, без вопросов."></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>
</div>
{% endblock %}